.node {
	width: 25px;
	height: 25px;
	outline: 1px solid rgb(68, 3, 77);
	color: aliceblue;
	font-weight: bolder;
	font-size: 25px;
}

.node-end {
	background-color: red;
}

.node-start {
	background-color: rgb(100, 4, 109);
}
.node-wall {
	color: rgb(170, 50, 11);
	background-color: rgb(170, 50, 11);
}
.node-path {
	animation-name: tracePath;
	animation-duration: 0.7s;
	background-color: rgb(16, 255, 57);
}
@keyframes tracePath {
	0% {
		transform: scale(0.1);
		background-color: rgba(248, 244, 7, 0.295);
		border-radius: 100%;
	}

	50% {
		transform: scale(0.5);
		background-color: rgba(228, 224, 6, 0.595);
	}

	75% {
		transform: scale(1);
		background-color: rgba(255, 217, 0, 0.795);
		border-radius: 50%;
	}

	100% {
		background-color: rgb(16, 255, 57);
	}
}

.node-traced {
	animation-name: tracedNodes;
	animation-duration: 1s;
	background-color: rgba(0, 190, 218, 0.75);
}

@keyframes tracedNodes {
	0% {
		transform: scale(0.1);
		background-color: rgba(0, 0, 66, 0.75);
		border-radius: 100%;
	}

	50% {
		transform: scale(1);
		background-color: rgba(8, 114, 43, 0.75);
	}

	75% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
		background-color: rgba(0, 190, 218, 0.75);
	}
}
