.node {
	width: 25px;
	height: 25px;
	outline: 1px solid rgb(175, 216, 248);
	transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.node-end {
	background-color: red;
}

.node-start {
	background-color: green;
}
.node-wall {
	background-color: rgb(12, 53, 71);
}
.node-path {
	background-color: rgb(235, 147, 15);
}
.symbol {
	color: aliceblue;
	font-weight: bolder;
	font-size: 25px;
}
