.node {
	width: 25px;
	height: 25px;
	outline: 1px solid rgb(68, 3, 77);
	color: aliceblue;
	font-weight: bolder;
	font-size: 25px;
}

.node-end {
	background-color: red;
}

.node-start {
	background-color: green;
}
.node-wall {
	width: 25px;
	height: 25px;
	background-color: rgb(170, 50, 11);
}
.node-path {
	background-color: rgb(235, 147, 15);
}
.node-traced {
	background-color: rgb(88, 169, 204);
}
