.grid {
}
.row {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}
.toolbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem;
}
.toolbar button {
	margin-left: 7px;
}
